.works {
	&__head {
		font-size: 4rem;
		font-weight: 700;
		text-align: center;

		background: $gradient;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		padding: 9rem 0;

		@include atSmall {
			font-size: 2.4rem;
			padding: 5rem 0;
		}
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 -10px -50px;

		&:after {
			content: '';
			flex: auto;
		}
	}

	li {
		width: 100%;
		width: 33.3333%;
		flex: 0 0 calc(33.3333% - 20px);
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 50px;

		@include atMedium {
			flex: 0 0 calc(50% - 20px);
		}

		@include atSmall {
			flex: 0 0 calc(100% - 20px);
			margin-bottom: 30px;
		}
	}

	&__image {
		position: relative;
		display: block;
		overflow: hidden;
		padding-top: calc(9 / 16 * 100%);

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			z-index: 2;
			background-color: #000;
			width: 100%;
			height: 100%;
			opacity: 0.4;
			transition: all 0.3s ease-in-out;
		}

		img {
			position: absolute;
			width: 100%;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			transition: all 0.3s ease-in-out;
		}

		&:hover {
			&::before {
				opacity: 0;
			}

			& img {
				transform: scale(1.07) translateY(-50%);
			}
		}
	}

	&__title {
		margin-top: 14px;

		@include atSmall {
			text-align: center;
		}
	}

	&__pagination {
		margin-top: 8rem;
		text-align: center;
	}
}
