@font-face {
	font-family: 'GmarketSans';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSans';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSans';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	/* 1rem = 10px */
	font-size: 62.5%;
}

body {
	font-family: 'GmarketSans', sans-serif;
	display: flex;
	min-height: calc(var(--vh, 1vh) * 100);
	flex-direction: column;
	overflow-x: hidden;
	position: relative;
	background-color: $black;
	color: #fff;
	font-size: 1.6rem;

	&.active {
		height: calc(var(--vh, 1vh) * 100);
		overflow: hidden;
	}
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

button {
	background-color: transparent;
	color: inherit;
	border-width: 0;
	padding: 0;
	cursor: pointer;
}

ul,
ol,
li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

figure {
	margin: 0;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
	margin: 0;
}

input {
	border-radius: 0;
	-webkit-appearance: none;
	outline: none;
}
